/* ------------------- GERAL -------------------- */
.criacaoQuiz{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background: url("https://imgix.bustle.com/uploads/shutterstock/2020/3/25/72415f8c-3e06-40fc-b5a6-32fd76c7b567-shutterstock-1270572721.jpg?w=1020&h=574&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70");
    background-size: 100%;
}
.criacaoQuiz .topo{
    display: flex; 
    align-items: center;
    background-color: 	#677f89cc;
    color: #FFF;
    height: 50px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 45px;
    box-shadow: 1px 2px 8px #888888;
}
.criacaoQuiz > input{
    width: 50%;
    align-self: center;
    margin-bottom: 15px;
}
input{
    height: 40px;
    width: 100%;
    border: none;
    margin: 2px;
    background: #ffffff;
    border-radius: 15px;
    padding-left: 15px;
}
input::placeholder{
    padding-left: 10px;
}

/* ------------------- Container de Pergunta/Nível-------------------- */

.perguntas, .niveis{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pergunta, .nivel{
    width: 50%;
    background: #92a5b6;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 2px 8px #888888;
    margin-bottom: 15px;
}
.respostas, .links{
    width:45%;
    margin: 2px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 15px;
}
.pergunta h1, .nivel h1{
    color: #FFF;
    font-size: 20px;
    padding: 18px 0 10px 18px;
}
.pergunta > div, .percentual{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pergunta > input{
    width: 95%;
    align-self: center;
}
.nivel{
    padding: 0 15px 15px 15px;
}

/* ------------------- BOTÕES -------------------- */


.criacaoQuiz button{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #d48d85;
    color: #FFF;
    font-size: 35px;
    margin-bottom: 50px;
}
.criacaoQuiz button:hover{
    cursor: pointer;
}
.criacaoQuiz button:last-child{
    width: 50%;
    border-radius: 10px;
    font-size: 20px;
}

/* ------------------- MOBILE -------------------- */

@media(max-width: 600px){
    .criacaoQuiz > input{
        width: 80%;
        margin-bottom: 10px;
    }
    input{
        padding-left: 5px;
        width: unset;
    }
    .pergunta, .nivel{
        width: 80%;
    }
    input::placeholder{
        padding-left: 5px;
    }
    .pergunta > div, .percentual{
        flex-direction: column;
    }
}