/* ------------------- GERAL -------------------- */
.fimQuiz{
    width: 100vw; 
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    color: #424453d5;
    background: url("https://imgix.bustle.com/uploads/shutterstock/2020/3/25/72415f8c-3e06-40fc-b5a6-32fd76c7b567-shutterstock-1270572721.jpg?w=1020&h=574&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70");
    background-size: cover;
}
.fimQuiz .topo{
    display: flex; 
    align-items: center;
    background-color: 	#e4e5e6;
    color: #424453d5;
    height: 50px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 45px;
    box-shadow: 1px 2px 8px #888888;
}
.fimQuiz h1{
    font-size: 30px;
    color: #323443be;
    margin-bottom: 15px;
    background: rgba(255, 255, 255, 0.822);
    box-shadow: 1px 2px 8px #888888;
    padding: 5px;
}

/* ------------------- CONTAINER -------------------- */
.fimQuiz .container{
    width: 50%;
    border: 1px solid #323443;
    box-shadow: 1px 2px 8px #888888;
    background: rgba(255, 255, 255, 0.822);
}
.container .acertos{
    width: 95%;
    background:  #c0dcdd;
    font-size: 25px; 
    padding: 25px 15px;
    text-align: center;
    margin: 15px;
}
.container img{
    width: 100%;
    padding: 10px 10px;
}
.container > span{
    display: flex;
    justify-content: center;
}

/* ------------------- TEXTO - CONTAINER -------------------- */
.textoResultado, .imagem{
    width: 50%;
    text-align: left;
}
.textoResultado h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0 15px;
}
.textoResultado p{
    font-size: 15px;
    padding: 0 15px
}

/* ------------------- MOBILE -------------------- */
@media(max-width: 600px){
    .fimQuiz .topo{
        padding: 15px;
    }
    .fimQuiz h1{
        text-align: center;
    }
    .fimQuiz .container{
        width: 90%;
        margin-bottom: 20px;
    }
    .fimQuiz{
        width: 100%;
        height: unset;
        background-size: cover;
    }
    .container .acertos{
        margin: 5px;
    }
    .container > span{
        flex-direction: column;
        width: 100%;
    }
    .textoResultado, .imagem, .textoResultado h2, .textoResultado p{
        width: 100%;
    }
}