.fimQuiz{
    width: 100vw; 
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
    color: #f07474;
    background: url("https://images.unsplash.com/photo-1464376810568-596bdd5a1897?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1276&q=80")
}
.fimQuiz .topo{
    display: flex; 
    align-items: center;
    background-color: 	#FFF0F5;
    color: #f07474;
    height: 50px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 45px;
    box-shadow: 1px 2px 8px #888888;
}
.fimQuiz h1{
    font-size: 30px;
    color: #f07474;
    margin-bottom: 15px;
}
.fimQuiz .container{
    width: 50%;
    border: 1px solid #f07474;
    box-shadow: 1px 2px 8px #888888;
}
.container .acertos{
    width: 95%;
    background:  #FFF0F5;
    font-size: 25px; 
    padding: 25px 15px;
    text-align: center;
    margin: 15px;
}
.container img{
    width: 100%;
    padding: 10px 10px;
}
.container > span{
    display: flex;
    justify-content: center;
}
.textoResultado, .imagem{
    width: 50%;
    text-align: left;
}
.textoResultado h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0 15px;
}
.textoResultado p{
    font-size: 15px;
    padding: 0 15px
}