/* ------------------- GERAL -------------------- */
.quiz{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    background: url("https://imgix.bustle.com/uploads/shutterstock/2020/3/25/72415f8c-3e06-40fc-b5a6-32fd76c7b567-shutterstock-1270572721.jpg?w=1020&h=574&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70");
    background-size: 100%;
    padding-bottom: 45px;
}
.quiz .topo{
    display: flex; 
    align-items: center;
    background: #7d7d7d;
    background-size: cover;
    color: #FFF;
    height: 50px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 45px;
    padding: 15px;
    box-shadow: 1px 2px 8px #888888;
}
.quiz h1{
    margin: 10px 0 20px 0;
    font-size: 35px;
    color: #7d7d7d;
    border: solid 1px #e4e4e4;
    box-shadow: 1px 2px 8px #888888;
    padding: 5px;
    background:	#fefefec7;
}

/* ------------------- CONTAINER E OPÇÕES -------------------- */
.quiz .container{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 30px;
    border: 1px solid #c4bbb9;
    box-shadow: 1px 2px 8px #888888;
    background: 	#e4e5e6af;
}
.quiz .container img{
    width: 280px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.quiz .pergunta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100px; 
    background: #7d7d7d;
    color: #FFF;
    font-size: 30px;
    padding: 5px;
}
.op{
    margin: 15px;
}
.quiz .container .op:hover{
    cursor: pointer;
}
.quiz .container .op p{
    margin: 15px;
}


/* ------------------- ALTERAÇÕES JS -------------------- */
.certo{
    border-radius: 10px;
    border: 5px solid green; 
}
.errado{
    border-radius: 10px;
    border: 5px solid red;
}
.normal{
    border-radius: 10px;
    border: 1px solid #b4a0b4;
}

/* ------------------- ALTERAÇÕES JS -------------------- */
@media(max-width: 600px){
    .quiz h1{
        text-align: center;
    }
    .quiz .pergunta{
        width: 90%;
        height: unset;
        font-size: 25px;
        padding: 5px;
    }
    .quiz .container{
        width: 90%;
    }
    .op{
        width: 80%;
    }
    .quiz .container img{
        width: 100%;
    }
}