.quiz{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    background: #FFF0F5;
    background-size: 100%;
    padding-bottom: 45px;
}
.quiz .topo{
    display: flex; 
    align-items: center;
    background: url("https://images.unsplash.com/photo-1529697216570-f48ef8f6b2dd?ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    color: #FFF;
    height: 50px;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 45px;
    padding: 15px;
    box-shadow: 1px 2px 8px #888888;
}
.quiz .container{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 30px;
    border: 1px solid #b4a0b4;
    box-shadow: 1px 2px 8px #888888;
    background: rgba(255, 240, 245, 0.5);
}
.quiz .container img{
    width: 280px;
    height: 170px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.certo{
    border-radius: 10px;
    border: 5px solid green; 
}
.errado{
    border-radius: 10px;
    border: 5px solid red;
}
.normal{
    border-radius: 10px;
    border: 1px solid #b4a0b4;
}
.op{
    margin: 15px;
}
.quiz .container .op:hover{
    cursor: pointer;
}
.quiz .container .op p{
    margin: 15px;
}
.quiz .pergunta{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100px; 
    background: url("../Imagens/1.jpg");
    /* background: #D8BFD8; */
    color: #FFF;
    font-size: 30px;
}
.quiz h1{
    margin: 10px 0 20px 0;
    font-size: 35px;
    color: #b4a0b4;
}

@media(max-width: 600px){
    .quiz h1{
        text-align: center;
    }
    .quiz .pergunta{
        width: 90%;
        height: unset;
        font-size: 25px;
        padding: 5px;
    }
    .quiz .container{
        width: 90%;
    }
    .op{
        width: 80%;
    }
    .quiz .container img{
        width: 100%;
    }
}