.telaLogin{
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url("https://imgix.bustle.com/uploads/shutterstock/2020/3/25/72415f8c-3e06-40fc-b5a6-32fd76c7b567-shutterstock-1270572721.jpg?w=1020&h=574&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70");
    background-size: cover;
}
.telaLogin h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    box-shadow: 10px 10px 8px #888888;
    /* color: 	#9c829f; */
    color: #99698d;
}
.telaLogin p{
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 30px;
    box-shadow: 10px 10px 8px #888888;
    color: #99698d;
}
.menuEntrada{
    /* background: url("../Imagens/4.jpg"); */
    background: url("../Imagens/4.jpg");
    background-size: cover;
    height: 180px;
    width: 280px;
    display:flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #888888;
    padding: 15px;
}
.menuEntrada input{
    width: 90%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    padding-left: 10px;
}
.menuEntrada input::placeholder{
    font-size: 16px;
    opacity: 0.5;
    padding-left: 0;
}
.menuEntrada button{
    margin-top: 5px;
    background: #3a385b;
    border: none;
    height: 40px;
    width: 100px;
    color: #FFF;
    font-size: 16px;
    border-radius: 5px;
}
.menuEntrada button:hover{
    cursor: pointer;
}

